/**
  * _utils.scss
  * Utility classes for applying common styles to elements.
  */

  .text-center {
    text-align: center;
  }

  .special-h2 {
    font-weight: normal;
    margin-bottom: 35px;
  }
  